{% extends "::base.html.twig" %}
{% block body %}
    <article class="error-message">
        <div tabindex="-1" id="content" class="error-page">
            <br>
            <h1>Something has gone wrong</h1>
            <i class="fa fa-times fa-5x" aria-hidden="true"></i>
            <p class="error-page-message">Sorry, the page you are looking for cannot be found. It may have been removed,
                had its name changed, or is temporarily unavailable.</p>
            <h3>{{ status_code }}</h3>
            <p><a href={{ path('reviewer_review_homepage')}}>Go back to the home page</a></p>
        </div>
    </article>
{% endblock %}