{% extends "::base.html.twig" %}

{% block title %} Genre search {% endblock %}

{% block body %}
    <article class="col-md-12">
        {% for article in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <div class="col-md-3">
                    <p><b>{{ article.title }}</b></p>
                    <a href="{{ path('book_view', { 'id': article.id }) }}">
                        <img
                                class="center-block img-responsive"
                                src="{{ asset('Public/image-uploads/' ~ article.coverImage) }}"
                        >
                    </a>
                </div>
            </tr>
        {% endfor %}
    </article>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}