David Attenborough{% extends "::base.html.twig" %}

{% block title %}ReviewerReviewBundle:BookReview:delete{% endblock %}

{% block body %}
<h1>Welcome to the BookReview:delete page</h1>
{% endblock %}
