{% extends "::base.html.twig" %}

{% block title %}ReviewerReviewBundle:Book:view{% endblock %}

{% block body %}
    <article class="col-md-6">
        <div class="col-md-3">
            <img
                    class="center-block img-responsive"
                    src="{{ asset('Public/image-uploads/' ~ book.coverImage) }}"
                    alt="cover"
            >
        </div>
        <div class="col-md-9">
            <p><b>Book Isbn:</b> {{ book.isbn }} </p>
            <p><b>Book title:</b> {{ book.title }}</p>
        </div>
    </article>
{% endblock %}