{% extends "::base.html.twig" %}

{% block title %}ReviewerReviewBundle:BookReview:edit{% endblock %}

{% block body %}
    <h1>Edit review</h1>
    {{ form(form) }}
    <p><a href="{{ path('delete',{id: bookReview.id}) }}">delete</a></p>
{% endblock %}
