{% extends "::base.html.twig" %}

{% block title %}ReviewerReviewBundle:BookReview:reportConfirmation{% endblock %}

{% block body %}
<h3>your report has been noted</h3>
    <a href="{{ path('reviewer_review_homepage')}}"> go to homepage</a>
{% endblock %}
