{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}
{% block body %}
    <div class="coming-soon">
        <h2 class="coming-soon">Coming soon .......</h2>
    </div>
{% endblock %}