.container > .footer {
    text-align: center;
    color: #fff;
    background-color: #3D4841;
    font-size: 10px;
    padding: 10px;
    border-radius: 5px;
}

.navbar {
    /*background-color:maroon !important;*/
}

.title {
    color: #d9edf7!important;
}

.descriptionText {
    text-align: justify;
    text-justify: inter-word;
}

.formElement {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
}

.submit-button input {
    width: 25%;
    padding: 10px;
    align-content: center;
    background-color: darkgreen;
    margin-bottom: 20px;
}

.submit-button input:hover {
    background-color: green;
}

.login-container label {
    display: block;
}

/* Registeration form*/

form {
    margin: 0px 10px;
}

h2 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.divider {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.divider hr {
    margin: 7px 0px;
    width: 35%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.coming-soon {
    color: red;
    text-align: center;
}

.invisible {
    visibility: hidden;
}

.createEditForm {
    background-color: #3c763d;
    border-color: #2b2b2b;
    font-weight: bold;

}

.createEditForm:hover {
    background-color: #3c763d9c;
}

.GenreSelection > h2 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.latestAddedReviews {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}

.latestAddedReviews > h2 {
    padding-bottom: 20px;
}

.navigation {
    font-weight: bold;
    font-size: large;
}

.footer {
    margin-top: 15px;
}

.reviews {
    text-decoration: none;
    color: black;
}

.searchBar {
    margin-bottom: 20px;
    margin-top: 15px;
    float: right;
    width: 70%;
}

.navigationBar{
    background-color: #333!important;
}

navigationBar  li {
    float: left;
}

.navbar-default .navbar-nav>li>a{
    color: #d9edf7!important;
}


navigationBar  li a:hover {
    background-color: #111;
}

.error-page {
    box-shadow: 0 33px 120px rgba(0, 0, 0, .5);
    padding-bottom: 15px;
    height: unset;
}
hr{
    border: none;
    height: 1px;
    background-color: #333; /* Modern Browsers */
}