{% extends "::base.html.twig" %}

{% block title %}ReviewerReviewBundle:ErrorPages:error{% endblock %}

{% block body %}
    <article class="error-message">
        <i class="fa fa-times fa-5x" aria-hidden="true"></i>
        <h3>{{ message }}</h3>
    </article>
{% endblock %}